# HRD dropsonde read and plot with MetPy

#### wget or curl are useful commands to download a copy of a whole data tree 
wget -r https://seb.noaa.gov/pub/acdata/2021/AVAPS/20210828I1/ASPEN_DATA/*

We are working with files like https://seb.noaa.gov/pub/acdata/2021/AVAPS/20210828I1/ASPEN_DATA/D20210828_091908QC.frd

In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import metpy

In [29]:
filename = 'https://seb.noaa.gov/pub/acdata/2021/AVAPS/20210828I1/ASPEN_DATA/D20210828_091908QC.frd'
df = pd.read_csv(filename, skiprows=20, delim_whitespace=True)
df
# aww shoot, there are spaces in the header line like between P and (mb) so it looks like 2 things
# gonna have to manually make column names

,IX,t,(s),P,(mb),T,(C),RH,(%),Z,...,ZW,(m).1,FP,FT,FH,FW,LAT,(N),LON,(E)
0,1,0.00,-999.0,-999.00,-999.0,-999,-999,-999.00,-999.00,-999.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0.25,-999.0,-999.00,-999.0,-999,-999,-999.00,-999.00,-999.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,0.50,-999.0,-999.00,83.6,-999,-999,-999.00,-999.00,-999.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0.75,-999.0,-999.00,-999.0,-999,-999,-999.00,-999.00,-999.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1.00,-999.0,-999.00,83.5,-999,-999,-999.00,-999.00,-999.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1150,1151,287.50,1006.8,26.79,70.0,17,55,17.94,-14.77,-10.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1151,1152,287.75,-999.0,-999.00,-999.0,-999,57,17.86,-14.96,-9.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1152,1153,288.00,1007.6,26.86,69.7,10,59,17.77,-15.17,-9.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1153,1154,288.25,-999.0,-999.00,-999.0,-999,-999,-999.00,-999.00,-999.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1154,1155,288.79,1008.7,26.89,69.6,0,-999,-999.00,-999.00,-999.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Have to set -999 to NaN

df['T'].values

array([-999, -999, -999, ...,    9, -999,    0])

hi