# For historical tornadoes, find closest NEXRAD radar site

In [34]:
import numpy as np
import pandas as pd

## Read all the data
#### tornado file trimmed down from the 1950-2019 file at https://www.spc.noaa.gov/wcm/#data

In [35]:
tornadoes = pd.read_csv('C:/Users/34555/Box/MPO624_data/1991-2019_all_tornadoes.csv')

In [36]:
tornadoes

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,1,1991,1,14,1/14/91,17:00:00,3,TX,48,1,...,1.00,100,1,1,1,287,0,0,0,0
1,2,1991,1,14,1/14/91,17:50:00,3,TX,48,2,...,0.20,20,1,1,1,21,0,0,0,0
2,3,1991,1,14,1/14/91,18:14:00,3,TX,48,3,...,5.00,60,1,1,1,21,0,0,0,0
3,4,1991,1,14,1/14/91,18:18:00,3,TX,48,4,...,1.50,250,1,1,1,89,0,0,0,0
4,5,1991,1,14,1/14/91,18:18:00,3,TX,48,5,...,0.50,50,1,1,1,481,0,0,0,0
5,6,1991,1,14,1/14/91,18:20:00,3,TX,48,6,...,0.20,20,1,1,1,481,0,0,0,0
6,7,1991,1,14,1/14/91,18:25:00,3,TX,48,7,...,0.20,20,1,1,1,481,0,0,0,0
7,8,1991,1,14,1/14/91,18:30:00,3,TX,48,8,...,0.20,20,1,1,1,481,0,0,0,0
8,9,1991,1,14,1/14/91,19:55:00,3,TX,48,9,...,0.60,13,1,1,1,321,0,0,0,0
9,10,1991,1,14,1/14/91,21:40:00,3,TX,48,10,...,0.20,10,1,1,1,167,0,0,0,0
10,11,1991,1,14,1/14/91,22:26:00,3,TX,48,11,...,0.70,10,1,1,1,157,0,0,0,0
11,12,1991,1,15,1/15/91,13:15:00,3,FL,12,1,...,0.50,40,1,1,1,25,0,0,0,0
12,13,1991,1,15,1/15/91,13:35:00,3,FL,12,2,...,4.00,60,1,1,1,25,0,0,0,0
13,14,1991,1,15,1/15/91,13:54:00,3,FL,12,3,...,3.50,60,1,1,1,11,0,0,0,0
14,15,1991,1,18,1/18/91,7:05:00,3,TX,48,12,...,0.50,50,1,1,1,89,0,0,0,0
15,16,1991,1,18,1/18/91,7:25:00,3,TX,48,13,...,0.20,30,1,1,1,89,0,0,0,0
16,17,1991,1,18,1/18/91,7:30:00,3,TX,48,14,...,0.40,10,1,1,1,89,0,0,0,0
17,18,1991,1,18,1/18/91,7:45:00,3,TX,48,15,...,0.50,13,1,1,1,201,0,0,0,0
18,19,1991,1,18,1/18/91,8:15:00,3,TX,48,16,...,0.40,10,1,1,1,201,0,0,0,0
19,20,1991,1,18,1/18/91,8:30:00,3,TX,48,17,...,0.50,10,1,1,1,201,0,0,0,0
20,21,1991,1,18,1/18/91,8:50:00,3,TX,48,18,...,1.50,40,1,1,1,201,0,0,0,0
21,22,1991,1,18,1/18/91,10:00:00,3,TX,48,19,...,0.20,20,1,1,1,321,0,0,0,0
22,23,1991,1,18,1/18/91,10:20:00,3,TX,48,20,...,0.40,10,1,1,1,39,0,0,0,0
23,24,1991,1,19,1/19/91,21:00:00,3,FL,12,4,...,0.50,30,1,1,1,57,0,0,0,0
24,25,1991,1,19,1/19/91,21:08:00,3,FL,12,5,...,0.50,30,1,1,1,103,0,0,0,0
25,26,1991,1,19,1/19/91,21:50:00,3,FL,12,6,...,0.80,40,1,1,1,105,0,0,0,0
26,27,1991,1,29,1/29/91,6:30:00,3,LA,22,1,...,0.30,200,1,1,1,51,0,0,0,0
27,28,1991,1,30,1/30/91,10:20:00,3,GA,13,1,...,0.10,60,1,1,1,321,0,0,0,0
28,29,1991,1,30,1/30/91,11:30:00,3,FL,12,7,...,0.40,30,1,1,1,5,0,0,0,0
29,30,1991,2,13,2/13/91,16:44:00,3,MO,29,1,...,5.00,30,1,1,1,31,201,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36341,618514,2019,12,16,12/16/19,17:30:00,3,AL,1,0,...,9.47,50,1,1,1,83,0,0,0,0
36342,618515,2019,12,16,12/16/19,17:41:00,3,TN,47,0,...,3.45,50,1,1,1,117,0,0,0,0
36343,618516,2019,12,16,12/16/19,17:50:00,3,TN,47,0,...,3.20,50,1,1,1,103,0,0,0,0
36344,618517,2019,12,16,12/16/19,17:54:00,3,AL,1,0,...,1.25,25,1,1,1,89,0,0,0,0
36345,618518,2019,12,16,12/16/19,17:59:00,3,MS,28,0,...,61.19,350,2,0,1,0,153,23,0,0
36346,618518,2019,12,16,12/16/19,17:59:00,3,MS,28,0,...,51.28,350,2,1,2,67,153,23,0,0
36347,618519,2019,12,16,12/16/19,18:05:00,3,AL,1,0,...,3.16,37,1,1,1,89,0,0,0,0
36348,618518,2019,12,16,12/16/19,19:15:00,3,AL,1,0,...,9.91,300,2,1,2,23,0,0,0,0
36349,618520,2019,12,16,12/16/19,20:07:00,3,AL,1,0,...,5.95,350,1,1,1,91,0,0,0,0
36350,618521,2019,12,16,12/16/19,21:03:00,3,AL,1,0,...,5.35,300,1,1,1,65,105,0,0,0
36351,618522,2019,12,16,12/16/19,21:49:00,3,AL,1,0,...,3.12,200,1,1,1,7,0,0,0,0
36352,618523,2019,12,16,12/16/19,22:00:00,3,AL,1,0,...,2.60,300,1,1,1,7,0,0,0,0
36353,618524,2019,12,16,12/16/19,22:07:00,3,AL,1,0,...,2.29,200,1,1,1,117,0,0,0,0
36354,618525,2019,12,17,12/17/19,6:30:00,3,GA,13,0,...,0.40,50,1,1,1,99,0,0,0,0
36355,618526,2019,12,17,12/17/19,6:52:00,3,AL,1,0,...,0.14,25,1,1,1,69,0,0,0,0
36356,618527,2019,12,17,12/17/19,8:27:00,3,GA,13,0,...,6.56,200,1,1,1,201,0,0,0,0
36357,618528,2019,12,17,12/17/19,9:00:00,3,GA,13,0,...,0.20,75,1,1,1,7,0,0,0,0
36358,618529,2019,12,17,12/17/19,10:39:00,3,GA,13,0,...,20.31,400,1,1,1,155,17,0,0,0
36359,618530,2019,12,25,12/25/19,23:00:00,3,CA,6,0,...,0.84,7,1,1,1,111,0,0,0,0
36360,618531,2019,12,27,12/27/19,17:54:00,3,NM,35,0,...,4.79,100,1,1,1,9,0,0,0,0
36361,618532,2019,12,28,12/28/19,15:30:00,3,OK,40,0,...,1.20,160,1,1,1,143,145,0,0,0
36362,618533,2019,12,28,12/28/19,19:03:00,3,MO,29,0,...,1.36,75,1,1,1,167,0,0,0,0
36363,618534,2019,12,29,12/29/19,14:49:00,3,MS,28,0,...,0.89,150,1,1,1,49,0,0,0,0
36364,618535,2019,12,29,12/29/19,15:35:00,3,MS,28,0,...,7.34,400,1,1,1,89,7,79,7,0
36365,618536,2019,12,29,12/29/19,15:53:00,3,MS,28,0,...,6.60,500,1,1,1,7,0,0,0,0
36366,618537,2019,12,29,12/29/19,16:03:00,3,MS,28,0,...,7.70,900,1,1,1,7,0,0,0,0
36367,618538,2019,12,29,12/29/19,16:13:00,3,MS,28,0,...,3.82,200,1,1,1,19,0,0,0,0
36368,618539,2019,12,29,12/29/19,16:32:00,3,MS,28,0,...,2.61,200,1,1,1,105,0,0,0,0
36369,618540,2019,12,29,12/29/19,17:13:00,3,MS,28,0,...,3.23,125,1,1,1,101,0,0,0,0
36370,618541,2019,12,29,12/29/19,18:50:00,3,AL,1,0,...,5.07,50,1,1,1,83,0,0,0,0

In [48]:
# RADAR site locations from https://en.wikipedia.org/wiki/NEXRAD#cite_note-54

sites = pd.read_table('~/Box/MPO624_data/WSR88d_locations.txt')

In [38]:
sites[0:5]

  State           Name  Code        Lat    WestLon
0    PR       San Juan  TJUA  18.115600  66.078064
1    ME        Houlton  KCBW  46.039194  67.806603
2    ME  Gray/Portland  KGYX  43.891355  70.256555
3    VT     Burlington  KCXX  44.510994  73.166424
4    MA       Boston\t  KBOX  41.955892  71.136968

## Loop over tornadoes, calculate all site distances

In [39]:
# Starting longitude: how to get the value as a number, from Pandas

tornadoes[23:24]['slon'].values[0]

-82.469999999999999

In [40]:
# Site longitude, how to get the value as a number, from Pandas

sites[11:12]['WestLon'].values[0]

74.410802700000005

# OK, ready for the magic loop
## For each tornado, calculate distance of START POINT to nearest radar 

Add two columns to tornados DataFrame
1. that distance (so we can sort for the smallest value)
2. radar ID code

In [41]:
# For speed of testing, create a subset 

subset = tornadoes[0:10].copy()
subset

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,1,1991,1,14,1/14/91,17:00:00,3,TX,48,1,...,1.0,100,1,1,1,287,0,0,0,0
1,2,1991,1,14,1/14/91,17:50:00,3,TX,48,2,...,0.2,20,1,1,1,21,0,0,0,0
2,3,1991,1,14,1/14/91,18:14:00,3,TX,48,3,...,5.0,60,1,1,1,21,0,0,0,0
3,4,1991,1,14,1/14/91,18:18:00,3,TX,48,4,...,1.5,250,1,1,1,89,0,0,0,0
4,5,1991,1,14,1/14/91,18:18:00,3,TX,48,5,...,0.5,50,1,1,1,481,0,0,0,0
5,6,1991,1,14,1/14/91,18:20:00,3,TX,48,6,...,0.2,20,1,1,1,481,0,0,0,0
6,7,1991,1,14,1/14/91,18:25:00,3,TX,48,7,...,0.2,20,1,1,1,481,0,0,0,0
7,8,1991,1,14,1/14/91,18:30:00,3,TX,48,8,...,0.2,20,1,1,1,481,0,0,0,0
8,9,1991,1,14,1/14/91,19:55:00,3,TX,48,9,...,0.6,13,1,1,1,321,0,0,0,0
9,10,1991,1,14,1/14/91,21:40:00,3,TX,48,10,...,0.2,10,1,1,1,167,0,0,0,0

In [42]:
# Loop and collect Code and Distance lists
NearestCode = []
NearestDist = []

for i in range(len(subset)): 
    # print(tornadoes[i:i+1]['st'].values[0]) # debugging/testing: print the state
    x = tornadoes[i:i+1]['slon'].values[0]
    y = tornadoes[i:i+1]['slat'].values[0]
    min_dist = 1e9 # start with a large value, and find the minimuum
    
    for j in range(len(sites)):
        # print(sites[j:j+1])
        # dx is distance eastward (using cos of latitude correction on sphere)
        dx = (x + sites[j:j+1]['WestLon'].values[0]) * np.cos(y*3.14/180.)
        dy = y - sites[j:j+1]['Lat'].values[0]
        dist2 = dx*dx + dy*dy
        
        if (dist2 < min_dist): 
            # print(sites[j:j+1], '   DISTANCE ', np.sqrt(dist2))
            min_dist = np.sqrt(dist2)
            closest = j 
    #print('') # debugging/testing
    #print('closest station, distance: ')
    #print(sites[closest:closest+1]['Code'].values[0])
    #print('DISTANCE (km): ', min_dist*111.111)
    #print('')
    NearestDist.append(min_dist*111.111) # km 
    NearestCode.append(sites[closest:closest+1]['Code'].values[0])

# Append columns onto the tornadoes DataFrame

In [43]:
subset['NearestRadar'] = NearestCode
subset['NearestDist'] = NearestDist

In [46]:
# build the URL

URLs = 'https://s3.amazonaws.com/noaa-nexrad-level2/index.html#' + tornadoes['date'] + '/' + subset['NearestRadar']
URLs[0]

'https://s3.amazonaws.com/noaa-nexrad-level2/index.html#1/14/91/KGRK'

#### Oh too bad, the date will have to be chopped up and reordered
###### needs to be in this format: https://s3.amazonaws.com/noaa-nexrad-level2/index.html#1997/06/06/KAMA/

In [47]:
subset.sort_values(by='NearestDist')[0:100]

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,ns,sn,sg,f1,f2,f3,f4,fc,NearestRadar,NearestDist
9,10,1991,1,14,1/14/91,21:40:00,3,TX,48,10,...,1,1,1,167,0,0,0,0,KHGX,3.126000
0,1,1991,1,14,1/14/91,17:00:00,3,TX,48,1,...,1,1,1,287,0,0,0,0,KGRK,74.276494
2,3,1991,1,14,1/14/91,18:14:00,3,TX,48,3,...,1,1,1,21,0,0,0,0,KGRK,84.278825
1,2,1991,1,14,1/14/91,17:50:00,3,TX,48,2,...,1,1,1,21,0,0,0,0,KGRK,88.335741
7,8,1991,1,14,1/14/91,18:30:00,3,TX,48,8,...,1,1,1,481,0,0,0,0,KHGX,92.737076
6,7,1991,1,14,1/14/91,18:25:00,3,TX,48,7,...,1,1,1,481,0,0,0,0,KHGX,96.399705
5,6,1991,1,14,1/14/91,18:20:00,3,TX,48,6,...,1,1,1,481,0,0,0,0,KHGX,97.254585
4,5,1991,1,14,1/14/91,18:18:00,3,TX,48,5,...,1,1,1,481,0,0,0,0,KHGX,100.368893
8,9,1991,1,14,1/14/91,19:55:00,3,TX,48,9,...,1,1,1,321,0,0,0,0,KHGX,100.790364
3,4,1991,1,14,1/14/91,18:18:00,3,TX,48,4,...,1,1,1,89,0,0,0,0,KEWX,142.701384